body{
    background-image: url(imagenes/lago.webp);
    background-size: cover;
}
fieldset{
    border: 0px;
}
.revuelto{ 
    width: 350px;
    height: auto;
    position: absolute;
    top: 20px; 
    left: 20px; 
}

.huracan{ 
    width: 350px;
    height: auto;
    position: absolute;
    top: 20px; 
    right: 20px; 
}
.veneno{ 
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 20px; 
    left: 20px; 
}

.roadster{ 
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 20px; 
    right: 20px; 
}
.logo{ 
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
